{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD TASKS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Tasks</h1>
                <form action="{% url 'create_task' %}" method="POST" class="card card-body bg-black">
                {% csrf_token %}
                    <label for="title">Title:</label>
                    <input type="text" name="title" placeholder="Write a title" class="form-control mb-2">
                    <label for="description">Description:</label>
                    <textarea name="description" rows="3" placeholder="Write a descrption" class="form-control mb-2"></textarea>
                    <label for="time_to_do">Time to do the task:</label>
                    <input type="time" name="time_to_do" placeholder="Write the time to do it" class="form-control mb-3">
                    <button class="btn btn-success">Save</button>
                </form>
                {% for task in tasks %}
                <div>
                    <h3>{{task.title}}</h3>
                    <p>{{task.description}}</p>
                    <p>{{task.time_to_do}}</p>
                    <form action=" {% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>Delete</button>
                    </form>
                </div>
                {% empty %}
                <h1>No tasks yet</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>